replicaCount: 1

autoscaling:
  enabled: false

global:
  image:
    registry: REGISTRY_REGION-docker.pkg.dev
    project: PROJECT_ID
    repository: ecommerce-repo

image:
  name: notification-service
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  KAFKA_BROKERS: "kafka-bootstrap.kafka.svc.cluster.local:9092"
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.platform-observability.svc.cluster.local:4317"
  OTEL_SERVICE_NAME: "notification-service"

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

serviceAccount:
  create: true
  name: notification-service
  gcpServiceAccount: notification-service@PROJECT_ID.iam.gserviceaccount.com
