replicaCount: 1
image:
  repository: registry.gitlab.com/haxor/ecommerce-platform/notification-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
env:
  KAFKA_BROKERS: "kafka-0.kafka-headless.kafka.svc:9092"
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi
