replicaCount: 3
image:
  repository: registry.gitlab.com/haxor/ecommerce-platform/analytics-ingest-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
env:
  KAFKA_BROKERS: "kafka-0.kafka-headless.kafka.svc:9092"
resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
