replicaCount: 1
image:
  repository: us-central1-docker.pkg.dev/ecommerce-microservice-53/ecommerce-repo/analytics-ingest-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
env:
  KAFKA_BROKERS: "kafka-bootstrap.kafka.svc.cluster.local:9092"
resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
