persistence:
  enabled: true
  size: 10Gi
  storageClassName: standard

adminPassword: "admin"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: istio
  hosts:
    - grafana.ecommerce.svc.cluster.local
  path: /

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.platform-observability.svc.cluster.local
        access: proxy
        isDefault: true
      - name: Loki
        type: loki
        url: http://loki.platform-observability.svc.cluster.local:3100
        access: proxy
      - name: Tempo
        type: tempo
        url: http://tempo.platform-observability.svc.cluster.local:3100
        access: proxy
