replicaCount: 3 # High availability for landing
image:
  repository: us-central1-docker.pkg.dev/ecommerce-microservice-53/ecommerce-repo/landing-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
env:
  KAFKA_BROKERS: "kafka-0.kafka-headless.kafka.svc:9092"
resources:
  requests:
    cpu: 200m
    memory: 128Mi
  limits:
    cpu: 1000m # Burst header
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
