persistence:
  enabled: true
  storageClass: standard
  accessMode: ReadWriteOnce
  size: 20Gi

service:
  type: ClusterIP
  externalPort: 9000
  internalPort: 9000

ingress:
  enabled: true
  hosts:
    - name: sonar.internal.example.com
      path: /

postgresql:
  enabled: true
  postgresqlUsername: sonar
  postgresqlPassword: sonar
  postgresqlDatabase: sonar
