global:
  storageClass: "standard-rwo"

architecture: replication

auth:
  enabled: true
  existingSecret: redis-secret
  existingSecretPasswordKey: REDIS_PASSWORD

# -------------------
# MASTER
# -------------------
master:
  persistence:
    enabled: true
    size: 5Gi

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podAntiAffinityPreset: hard

  podDisruptionBudget:
    enabled: true
    minAvailable: 1

# -------------------
# REPLICAS
# -------------------
replica:
  replicaCount: 3

  persistence:
    enabled: true
    size: 5Gi

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podAntiAffinityPreset: hard

  podDisruptionBudget:
    enabled: true
    minAvailable: 2

# -------------------
# REDIS TUNING
# -------------------
commonConfiguration: |
  maxmemory-policy allkeys-lru
  timeout 0
  tcp-keepalive 300
  appendonly yes
  appendfsync everysec

# -------------------
# SECURITY
# -------------------
networkPolicy:
  enabled: true
  allowExternal: false

# -------------------
# OBSERVABILITY
# -------------------
metrics:
  enabled: false

  serviceMonitor:
    enabled: false
    namespace: platform-observability
    interval: 30s
    scrapeTimeout: 10s
    labels:
      release: prometheus
