apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "storefront-service.fullname" . }}
  labels:
    {{- include "storefront-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "storefront-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "storefront-service.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
