# infra/databases/postgres-values.yaml
# Production-ready values for bitnami/postgresql

global:
  storageClass: "standard-rwo"

auth:
  username: ecom_user
  database: ecom_db
  # In real production, use existingSecret. For this project structure we define it here or use secret gen.
  # existingSecret: "postgres-creds"

architecture: replication

primary:
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  persistence:
    enabled: true
    size: 10Gi
  podSecurityContext:
    enabled: true
    fsGroup: 1001

readReplicas:
  replicaCount: 2
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    enabled: true
    size: 10Gi

metrics:
  enabled: true
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "9187"
