go 1.22.0

use (
	./admin-backoffice-service
	./analytics-ingest-service
	./api-gateway
	./attribution-service
	./audit-service
	./auth-service
	./cart-service
	./conversion-webhook
	./feature-flag-service
	./landing-service
	./notification-service
	./offer-service
	./redirect-service
	./reporting-service
	./shared-lib
	./storefront-service
	./user-service
)
