apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: false
  
  - name: Loki
    type: loki
    uid: loki
    url: http://loki:3100
    access: proxy
    editable: false

  - name: Tempo
    type: tempo
    uid: tempo
    url: http://tempo:3200
    access: proxy
    editable: false
    jsonData:
      triggers:
        traceId: true
