replicaCount: 1
image:
  repository: us-central1-docker.pkg.dev/ecommerce-microservice-53/ecommerce-repo/auth-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
# PROD Resources
resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

podDisruptionBudget:
  enabled: true
  minAvailable: 1

# Environment variables
env:
  KAFKA_BROKERS: kafka-bootstrap.kafka.svc.cluster.local:9092
  REDIS_ADDR: redis-master.default.svc.cluster.local:6379
  OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
  OTEL_SERVICE_NAME: auth-service

# Secrets config
envSecrets:
  POSTGRES_DSN:
    name: "auth-service-secrets"
    key: "postgres-dsn"
