# Lightweight values for local Rancher Desktop testing

global:
  security:
    allowInsecureImages: true

image:
  registry: docker.io
  repository: apache/kafka
  tag: 3.7.0

controller:
  replicaCount: 1
  persistence:
    enabled: true
    size: 2Gi
  resources:
    # enabled: false (Removed incompatible field)
    requests:

listeners:
  client:
    protocol: PLAINTEXT
  interbroker:
    protocol: PLAINTEXT
  external:
    protocol: PLAINTEXT
    
serviceAccount:
  create: true

metrics:
  kafka:
    enabled: false # Save resources
  jmx:
    enabled: false

provisioning:
  enabled: true
  numPartitions: 1
  replicationFactor: 1
  topics:
    - name: page.viewed
    - name: cta.clicked
    - name: checkout.redirected
    - name: conversion.completed
    - name: campaign.attributed

zookeeper:
  enabled: true # Bitnami chart default. Kraft needs more complex config usually.
  replicaCount: 1
  persistence:
    storageClass: "local-path"
    size: 2Gi
