replicaCount: 2
image:
  repository: registry.gitlab.com/haxor/ecommerce-platform/feature-flag-service
  tag: latest
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi
