external-secrets:
  installCRDs: true

  serviceAccount:
    create: false
    name: external-secrets-sa

  webhook:
    create: true

  certController:
    create: true

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podDisruptionBudget:
    enabled: true
    minAvailable: 1

# -------------------
# GCP WORKLOAD IDENTITY
# -------------------
gcp:
  projectId: ecommerce-microservice-53
  workloadIdentityEmail: secrets-reader@ecommerce-microservice-53.iam.gserviceaccount.com
