external-secrets:
  installCRDs: true   # keep if this is first install

  serviceAccount:
    create: true
    name: external-secrets-sa
    annotations:
      iam.gke.io/gcp-service-account: "secrets-reader@PROJECT_ID.iam.gserviceaccount.com"

  webhook:
    create: true

  certController:
    create: true

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podDisruptionBudget:
    enabled: true
    minAvailable: 1

# Only values that are ACTUALLY used by templates
gcp:
  projectId: PROJECT_ID
