# infra/observability/loki/values.yaml
# Values for grafana/loki
persistence:
  enabled: true
  size: 20Gi
config:
  schema_config:
    configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index_
          period: 24h
promtail:
  enabled: true
  config:
    clients:
      - url: http://loki.observ.svc.cluster.local:3100/loki/api/v1/push
