replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/ecommerce-microservice-53/ecommerce-repo/cart-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  readOnlyRootFilesystem: true

livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10

env:
  REDIS_ADDR: redis-master.data.svc.cluster.local:6379
  KAFKA_BROKERS: ecommerce-cluster-kafka-bootstrap.data-kafka.svc.cluster.local:9092
  ENV: prod
  SERVICE_NAME: cart-service

envSecrets:
  OTEL_EXPORTER_OTLP_ENDPOINT:
    name: cart-service-secrets
    key: OTEL_EXPORTER_OTLP_ENDPOINT
