replicaCount: 1
image:
  repository: us-central1-docker.pkg.dev/ecommerce-microservice-53/ecommerce-repo/cart-service
  tag: latest
service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

podDisruptionBudget:
  enabled: true
  minAvailable: 1

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  readOnlyRootFilesystem: true

# Probes
livenessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 15
  periodSeconds: 20

readinessProbe:
  httpGet:
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10

# Secrets
envSecrets:
  POSTGRES_DSN:
    name: "cart-service-secrets"
    key: "postgres-dsn"

env:
  REDIS_ADDR: redis-master.default.svc.cluster.local:6379
