replicaCount: 1

autoscaling:
  enabled: false

global:
  image:
    registry: REGISTRY_REGION-docker.pkg.dev
    project: PROJECT_ID
    repository: ecommerce-repo

image:
  name: cart-service
  tag: "1.0.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  REDIS_ADDR: "redis-master.data.svc.cluster.local:6379"
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.platform-observability.svc.cluster.local:4317"
  OTEL_SERVICE_NAME: "cart-service"

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

serviceAccount:
  create: true
  name: cart-service
  gcpServiceAccount: cart-service@PROJECT_ID.iam.gserviceaccount.com
