replicaCount: 1

autoscaling:
  enabled: false

global:
  image:
    registry: us-central1-docker.pkg.dev
    project: ecommerce-microservice-53
    repository: ecommerce-repo

image:
  name: cart-service
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  REDIS_ADDR: "redis-master.data.svc.cluster.local:6379"

envSecrets:
  OTEL_EXPORTER_OTLP_ENDPOINT:
    name: cart-service-secrets
    key: OTEL_EXPORTER_OTLP_ENDPOINT

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

serviceAccount:
  create: true
  name: cart-service-sa
  gcpServiceAccount: cart-service@ecommerce-microservice-53.iam.gserviceaccount.com
