replicaCount: 1

autoscaling:
  enabled: false

global:
  image:
    registry: us-central1-docker.pkg.dev
    project: ecommerce-microservice-53
    repository: ecommerce-repo

image:
  name: admin-backoffice-service
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

env:
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.platform-observability.svc.cluster.local:4317"
  OTEL_SERVICE_NAME: "admin-backoffice-service"
  METABASE_SITE_URL: "http://metabase.tooling-metabase.svc.cluster.local:3000"

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

serviceAccount:
  create: true
  name: admin-backoffice-service
  gcpServiceAccount: admin-backoffice-service@ecommerce-project.iam.gserviceaccount.com
