replicaCount: 1

autoscaling:
  enabled: false

global:
  image:
    registry: us-central1-docker.pkg.dev
    project: ecommerce-microservice-53
    repository: ecommerce-repo

image:
  name: order-service
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080

env:
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.platform-observability.svc.cluster.local:4317"
  OTEL_SERVICE_NAME: "order-service"
  KAFKA_BROKERS: "kafka-cluster-kafka-bootstrap.kafka:9092"

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

serviceAccount:
  create: true
  name: order-service
  gcpServiceAccount: order-service@ecommerce-project.iam.gserviceaccount.com
